<html>
    <head>
        <title>Abhishek Nage's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Abhishek Nage's Blog</a></h1>
            <p>A place for me to share my ideas to automate tedious engineering and quality procedures</p>
        </div>

        <div>
            <p>published: 27.04.2019, 12:14</p>
            <h2><a href="">Database for Weld and NDE Tracking</a></h2>
            <p> The system would utilize a physical barcode that would be stuck on each completed weld to associate each weld with information on that weld. <ol>
              <li>Welder Information: Welded By, Welded Date</li>
              <li>Final Location: Line Number, Isometric Number, Weld Number</li>
              <li>Visual Information: VT'd by, VT Date</li>
              <li>Lot Number:</li>
              <li>NDE Information: depending on % that needs to be RT/MT/UT'd</li>
            </ol>
            The physical barcode could also have space for "Welder Information", "Visual Information", etc.
            The system would also need to have offline capabilities.
            </p>
        </div>

        <div>
            <p>published: 27.04.2019, 13:14</p>
            <h2><a href="">WPS Development</a></h2>
            <p>
              <ol>
                <li>I am thinking of starting a quick reference guide for qualifying procedures and displaying it in an easy to read format. Start with ASME Section IX first, and then build to CSA Z662, and then to other in-service codes.</li>
                <li>For a given design WPS needed, what would my PQR criteria need to be</li>
              </ol>
            </p>
        </div>
        <div>
          <p>published: 27.04.2019, 14:14</p>
          <h2><a href="">Equipment Calibrations Log</a></h2>
          <p>A place to keep all equipment calibrations. All active/inactive calibrations. Have a sign-in sign-out method for the equipment, etc. System would also auto-notify in case there are any out of date calibrations.</p>
        </div>
        <div>
          <p>published: 27.04.2019, 14:14</p>
          <h2><a href="">Competency Log</a></h2>
          <p>A place to store competencies. The competencies could be broken down into safety certifications, and technical certifications. System would auto-notify in case of expired competency.</p>

        </div>
    </body>
</html>
